$primarycolor: #FFA633;
$primarylight: rgba(255, 255, 255, 0.2);
$primary__light__blue: #ECEBFF;
$secondarycolor: #201F1D;
$secondarycolor__light: #787878;
$white: #ffffff;
$cylindrical: #FCFBFB;
$grayish__blue: #3F4254;
$gray: #2F2F2F;
$gray__dark: #201F1D;
$text-warning__light: #FFA633;
$golden__yellow: #EDA600;
$gray__lightdark: #828282;
$light__gooses: #F4F4F4;
$dark__blues: #127384;
$blue__light: #DBDBDB;
$warningcolor: #FF9307;
$goose-gray: #201F1D;
$sandstone: #737373;
$light__vampire: #F2F7F6;
$grey: #787878;
$dangered: #FF0000;
$note__light: rgb(130, 130, 130);
$note__lights: rgb(130, 130, 130, 1);
$light_grass: rgba(18, 115, 132, 1);
$light__smokey-grays: #201F1D;
$cloud__grays: #EDECF8;
$graybackblue: #28283C;
$alice__blue: #FCFCFC;
$success__light: #1FBC2F;
$gray15: #878A99;
$light__grayish: #F1F1F1;
$light__gray__has: #E3E3E3;
$mine__shaft: #374B5C;
$light__gray: #DEE2E7;
$black_color:#141432;
$black:#000;
$white__smoke: #EFEFEF;
$violet__dark:#377dff;
$dark__black:#1F2937;
$ash:#dee2e6;
$dark__gray: #888888;
$smoke__white: #F3F3F3;
$bg__primary__light: #EADDFF;
$bg__green__light: #E1FFED;
$bg__danger__light: #FFECEC;
$black-gray: #111;
$light__hash: #F5F5F5;
$gray_light: #676767;
$info_color: #00CCFF;
$green__shade: #20BF8B;
$purple: #9747FF;

