@use "../utils/variables";

.badge {
    &.badge-primary {
        background: rgba(variables.$primary, 0.1);
        box-shadow: 0 1px 1px rgba(variables.$primary, 0.5);
        color: variables.$primary;        
    }
    &.badge-skyblue{
        background-color: variables.$cyan;
        color: variables.$white;
    }
    &.badge-pink{
        background-color: variables.$pink;
        color: variables.$white;
    }
    &.badge-dark-transparent {
        background: variables.$white;
        color: variables.$gray-900;
        border: 1px solid variables.$gray-200;
        i{
            color: variables.$gray-900;
        }
    }
    &.badge-secondary-transparent {
        background: variables.$white;
        color: variables.$gray-900;
        border: 1px solid variables.$gray-200;
        i{
            color: variables.$secondary;
        }
    }
    &.badge-pink-transparent {
        background: variables.$white;
        color: variables.$gray-900;
        border: 1px solid variables.$gray-200;
        i{
            color: variables.$pink;
        }
    }
    &.badge-secondary-transparent {
        background: variables.$secondary-transparent;
        color: variables.$secondary;
        border: 1px solid variables.$secondary-100;
        i{
            color: variables.$secondary;
        }
    }
    &.badge-success-transparent {
        background: variables.$white;
        color: variables.$gray-900;
        border: 1px solid variables.$gray-200;
        i{
            color: variables.$success;
        }
    }
    &.badge-purple-transparent {
        background:variables.$white;
        color: variables.$gray-900;
        border: 1px solid variables.$gray-200;
        i{
            color: variables.$purple;
        }
    }
    &.badge-warning-transparent {
        background:variables.$white;
        color: variables.$gray-900;
        border: 1px solid variables.$gray-200;
        i{
            color: variables.$warning;
        }
    }
    &.badge-danger-transparent {
        background:variables.$white;
        color: variables.$gray-900;
        border: 1px solid variables.$gray-200;
        i{
            color: variables.$danger;
        }
    }
    &.badge-info-transparent {
        background:variables.$white;
        color: variables.$gray-900;
        border: 1px solid variables.$gray-200;
        i{
            color: variables.$info;
        }
    }
    &.badge-orange-transparent {
        background:variables.$white;
        color: variables.$gray-900;
        border: 1px solid variables.$gray-200;
        i{
            color: variables.$orange;
        }
    }
    &.badge-pink-transparent {
        background:variables.$pink-transparent;
        color: variables.$pink;
        border: 1px solid variables.$pink-100;
        i{
            color: variables.$pink;
        }
    }
    &.badge-outline{
        border: 1px solid variables.$gray-200;
        color: variables.$gray-900;
    }
}
@each $color, $value in variables.$theme-colors {
    .badge {
        &.badge-#{$color} {
            background: #{$value};
            color: variables.$white;
        }
        &.badge-soft-#{$color} {
            background: rgba($value, 0.1);
            color: $value;
        }
    }
}
.badge{
    padding: .25rem .45rem;
    font-weight: variables.$font-weight-medium;
    letter-spacing: 0.5px;
    border-radius: variables.$border-radius-lg;
    &.badge-xs {
        font-size: 10px;
        font-weight: variables.$font-weight-medium;
        padding: 0px 4px;
        line-height: 15px;
        min-height: 17px;
        min-width: 17px;
    }
    &.badge-sm {
        font-size: 10px;
        padding: 2px 8px;
        line-height: 15px;
    }
    &.badge-md {
        font-size: 12px;
        padding: 3px 8px;
        line-height: 18px;
    }
    &.badge-lg {
        font-size: variables.$font-size-14;
        padding: 3px 12px;
        line-height: 21px;
    }
    &.badge-xl {
        font-size: variables.$font-size-16;
        padding: 0px 15px;
        line-height: 35px;
    }
    &.badge-soft-skyblue {
        background: variables.$cyan-100;
        color: variables.$cyan;
    }
}
.badge.arrow {
    width: 20px;
    height: 20px;
    background: variables.$light-200;
    color: variables.$dark;
    &:hover {
        background: variables.$primary;
        color: variables.$white;
    }
}
.badge.bg-light.arrow:hover {
    background: variables.$dark !important;
}
.badge-primary-hover:hover {
    background: variables.$primary !important;
    border-color: variables.$primary !important;
    color: variables.$white !important;
}
.badge-danger-hover:hover {
    background: variables.$danger !important;
    border-color: variables.$danger !important;
    color: variables.$white !important;
}
.badge.badge-soft-purple {
    background: variables.$purple-100 !important;
    color: variables.$purple !important;
}
.badge.badge-soft-violet {
    background: variables.$violet-transparent !important;
    color: variables.$violet !important;
    border-color: variables.$violet-100 !important;
}
.badge.bg-danger-transparent {
    border: 1px solid variables.$danger-100 !important;
}
