@use "sass:map";
@use "variables";

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  custom767: 767.98px,
  custom320: 320px,
  custom479: 479px,
  custom575: 575.98px,
  custom768: 768px,
  custom849: 849px,
  custom991: 991.98px,
  custom992: 992px,
  custom1299: 1299.98px,
  custom1399: 1399.98px,
  custom1199: 1199.98px,
  custom1023: 1023px,
  custom1024: 1024px,
  custom1400: 1400px,
  custom1440: 1440px,
);

// Respond Above

@mixin respond-above($breakpoint) {

  // If the breakpoint exists in the map.
  @if map.has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map.get($breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }

  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

// Respond Above

@mixin respond-below($breakpoint) {

  // If the breakpoint exists in the map.
  @if map.has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map.get($breakpoints, $breakpoint);
    $breakpoint-value: map.get($breakpoints, $breakpoint);

    // For value like 991.98px, 1199.98px, 1399.98px
    $max-value: $breakpoint-value - 0.02px;

    // Write the media query.
    @media (max-width: $max-value) {
      @content;
    }

  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}



@mixin transform($property) {
  transform: $property;
  -webkit-transform: $property;
  -ms-transform: $property;
}

// Define vertical, horizontal, or both position
@mixin position-alignment($position) {
  position: absolute;
  
  @if $position == 'vertical' {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @else if $position == 'horizontal' {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
  }
  @else if $position == 'both' {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@mixin transition($property) {
  -webkit-transition: $property;
  -ms-transition: $property;
  transition: $property;
}

@mixin background-properties($cover:cover,$no-repeat:no-repeat,$center:center){
  background-size:$cover;
  background-repeat:$no-repeat;
  background-position:$center;
}

@mixin position($position_value,$top_value,$right_value,$bottom_value,$left_value){
  position:$position_value;
  top:$top_value;
  right:$right_value;
  bottom:$bottom_value;
  left:$left_value;
}

@mixin margin-padding($margin, $padding) {
   margin: $margin;
   padding:$padding;
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder { /* WebKit browsers */
      color: $color;
      opacity: 1;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $color;
      opacity: 1;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $color;
      opacity: 1;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: $color;
      opacity: 1;
  }
}

%equal-heights {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

%ul_reset {
  list-style:none;
  padding:0;
  margin:0;
}
.css-equal-heights {
	@extend %equal-heights;
}

.css-equal-content {
    @extend %equal-heights;
    color: red;
    float: left;
}
.align-center {
  @extend %flex-align-center;
}
%animation-effect {   
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
%justify-content-center {  
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
}
%align-items-center {  
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
%justify-content-between {  
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
}
%flex-align-center {
  display: flex;
  display: -webkit-flex;
  align-items:center;
  -webkit-align-items:center;
  justify-content: center;
  -webkit-justify-content: center;
}
%justify-content-spacebetween {
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
}
%clear{
  content:"";
  display:table;
  clear:both;
}

%ul_reset {
  list-style:none;
  padding:0;
  margin:0;
}

%full_width_height_div {
  width:100%;
  height:100%;
}
%inline-flex {  
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
%display-flex {  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
%display-flex-between {  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
}
%display-flex-center-between {  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
%display-flex-center {  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
%jusflex-end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
}
%jusflex-start {
  justify-content: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
}
%justify-content-between {  
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
}
%flex-wrap {  
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
%flex-end {  
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}
%flex-column {  
  -ms-flex-direction: column;
  flex-direction: column;
}
@mixin rounded($unit) {
  border-radius: $unit;
}
@mixin transform-origin($property) {
  transform-origin: $property;
  -webkit-transform-origin: $property;
  -ms-transform-origin: $property;
}
@mixin box-shadow($inset:inset,$horizontaloffset:10px,$verticaloffset:10px,$blur:10px,$spread:10px,$color: #000000) {
  -webkit-box-shadow: $inset $horizontaloffset $verticaloffset $blur $spread $color;
  -moz-box-shadow: $inset $horizontaloffset $verticaloffset $blur $spread $color;
  box-shadow: $inset $horizontaloffset $verticaloffset $blur $spread $color;
}
@mixin rounded($unit) {
  border-radius: $unit;
}
