// Base Font

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

// Font Size

$font-size-8: 8px;
$font-size-9: 9px;
$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-34: 34px;
$font-size-36: 36px;
$font-size-38: 38px;
$font-size-40: 40px;
$font-size-42: 42px;
$font-size-48: 48px;
$font-size-50: 50px;
$font-size-54: 54px;
$font-size-60: 60px;
$font-size-62: 62px;

// Colors

$primary: #FFA633;
$secondary: #201F1D;
$title: #111111;
$sub-title: #787878;
$title-1: #212121;
$body: #2F2F2F;
$light-1: #676767;
$light-2: #F5F5F5;
$background-1: #FCFCFC;
$background-2: #F2F7F6;
$background-3: #F1F1F1;
$background-light: #FFF6EA;
$stroke-2: #F4F4F4;
$stroke-3: #DBDBDB;
$span: #CDCDCD;
$secondary-1: #127384;
$success: #1FBC2F;
$danger: #FF0000;
$pink: #EC09A0;
$primary-1: #FF9307;
$white: #fff;
$border-color: #dbdbdb;
$inner-shadow: 0px 4px 24px 0px #E1E1E140;
$box-shadow-2: 0px 4px 24px 0px #E1E1E140;