@use "../base/colors";
@use "../base/typography";
@use "../utils/mixins";
@use "../utils/variables";

/*-----------------
    18. Contact
-----------------------*/

.contact-section {
    position: relative;
    @include mixins.margin-padding(null, 80px 0);
    @include mixins.respond-below(custom991) {
        @include mixins.margin-padding(null, 50px 0);
    }
    .contact-info-area {
        @include mixins.margin-padding(0 0 80px, null);
        @include mixins.respond-below(custom991) {
            @include mixins.margin-padding(0 0 30px, null);
        }
        @include mixins.respond-below(custom575) {
            @include mixins.margin-padding(0 0 15px, null);
        }
        .single-contact-info {
            text-align: center;
            background: colors.$white;
            border: 2px solid colors.$light__gooses;
            box-shadow: 0px 4px 24px rgba(225, 225, 225, 0.25);
            border-radius: 10px;
            @include mixins.margin-padding(null, 20px);
            -webkit-transition: all .5s;
            transition: all .5s;
                @include mixins.respond-below(custom992) {
                    @include mixins.margin-padding(null, 15px);
                }                 
                @include mixins.respond-below(custom991) {
                    @include mixins.margin-padding(0 0 24px, null);
                } 
            i {
                @extend %justify-content-center;
                @extend %display-flex-center;
                color: colors.$white;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
                font-size: typography.$font__size__26;
                width: 70px;
                height: 70px;
                @include mixins.margin-padding(0 auto 15px, null);
                line-height: 50px;
                background: colors.$warningcolor;
                border-radius: 50%;
                    @include mixins.respond-below(custom992) {
                        width: 35px;
                        height: 35px;
                        font-size: typography.$font__size__16;
                    } 
            }
            h3 {
                font-weight: typography.$medium;
                font-size: typography.$font__size__20;
                @include mixins.margin-padding(0 0 10px, null);
                -webkit-transition: all .5s;
                transition: all .5s;
                    @include mixins.respond-below(custom992) {
                        font-size: typography.$font__size__16;
                    } 
            }
            a {
                font-size: typography.$font__size__16;
                color: colors.$sandstone;
                -webkit-transition: all .5s;
                transition: all .5s;
                @include mixins.respond-below(custom992) {
                    font-size: typography.$font__size__13;
                }
            }
            &:hover {
                background: colors.$dark__blues;
                -webkit-transition: all .5s;
                transition: all .5s;
                i {                    
                    background: colors.$white;
                    -webkit-transition: all .5s;
                    transition: all .5s;
                    color: colors.$dark__blues;
                }
                h3 {
                    color: colors.$white;
                    -webkit-transition: all .5s;
                    transition: all .5s;
                }
                a {
                    color: colors.$white;
                    -webkit-transition: all .5s;
                    transition: all .5s;
                }
            }
        }
    }
    .form-info-area {
        background: colors.$white;
        border: 2px solid colors.$light__gooses;
        box-shadow: 0px 4px 24px rgba(225, 225, 225, 0.25);
        border-radius: 10px;
        @include mixins.margin-padding(null, 24px);
        img {
            border-radius: 10px;
            @include mixins.respond-below(custom991) {
                display: none   
            }  
        }
        h1 {
            font-weight: typography.$medium;
            font-size: typography.$font__size__38;
            color: colors.$graybackblue;
            @include mixins.margin-padding(0 0 30px, null);
            @include mixins.respond-below(custom992) {
                font-size: typography.$font__size__28;
                @include mixins.margin-padding(0 0 15px, null);
            }  
        }
    }
    textarea.form-control {
        height: 120px;
        resize: none;
    }
}