@use "../utils/variables";

.table-icon{
    width: 24px;
    height: 24px;
    border:1px solid variables.$gray-200;
    background: variables.$light;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.working-days{
    display: inline-flex;
    align-items: center;
    gap: 4px;
    span{
        width: 24px;
        height: 24px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: variables.$white;
    }
    .working{
        background: variables.$secondary;
    
    }
    .non-working{
        background: variables.$gray-200;
    }
}
.expensetable{
    tbody tr td{
        padding-top: 26px !important;
        padding-bottom: 26px !important;
    }
}
.avatar-badge-end{
    inset-block-end:0 !important;
    inset-block-start: auto !important;
    inset-inline-end: 6px !important;
}
.chart-color{
    width: 24px;
    height: 3px;
    display: block;
}
.download-icon {
    background: variables.$gray-100;
    color: variables.$info;
    &:hover {
        background: variables.$gray-300;
        color: variables.$info;
    }
}